// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.



@import "./node_modules/compass-mixins/lib/compass/css3";
@import "../scss/fontawesome.scss";
@import "../scss/solid.scss";
@import "../scss/brands.scss";

/* Variables */
$color-3: #ff3d80;

/* Layout */
* {
  @include box-sizing(border-box);
}

.bold-text {
    font-weight: 600;
}
.link-color {
    color: #49b2ae;
}
.add-menu {
    border-color: rgba(0,0,0,1);
    border-radius: 5px;
    border: solid thin;
    padding: 0.3em;
}

.red-icon {
    background-color: $color-3;
    margin-top: 1.5em;
    color: #ffffff;
    border-radius: 50%;
    padding: 3px;
}

.left-padding-3em {
    padding: 0 0 0 3em;
}

.list-md{
  background: transparent;
}

.bold-text {
  font-weight: bold;
}

ion-input {
  border: solid thin #333333b3;
  border-radius: 5px;
}



.sc-ion-input-md-h {
  --padding-start: 5em;
}

.group {
  & ion-label {
    color: #333333b3;
    line-height: 3;
    font-size: 1.2em;
  }
}


ion-inout ion-icon {
  color: #333333b3;
}